@import "./_COLORS_GENERAL.SCSS";

*::selection {
    background: rgba(53, 53, 53, 0.493);
    color: rgb(255, 72, 0);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    background: darkgray;
}

body {
    background-color: $backgroundBody;
}